@font-face {
    font-family: DOOM;
    src: url(https://swolekat.github.io/se-doom-chat/assets/fonts/DooM%20Regular.ttf);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: DOOM, Arial, sans-serif;
    font-size: 30px;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-content: start;
    overflow: visible;
    padding: 30px;
    flex-direction: column-reverse;
    height: 100%;
}

@keyframes fade {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes up {
    from { transform: translateY(50px); }
    to { transform: translateY(0px); }
}


.chat-message {
    margin-top: 15px;
    visibility: hidden;
    position: relative;
    min-width: 300px;
    max-width: 500px;
    width: var(--dynamicWidth);

    background: url(https://swolekat.github.io/se-doom-chat/assets/background.png);

    color: #eff1ff;
    text-shadow: 2px 2px #212421,
    1px 1px #212021;
}

.chat-message.animate {
    visibility: visible;
animation: fade reverse .5s,
                          fade .5s calc({lifetime}s - .5s) forwards,
                                                           up .5s,
                                                                up reverse .5s calc({lifetime}s - .5s) forwards;
}

.chat-message.animate .username-section {
    width: 100%;
}

.chat-message.animate.forever {
    visibility: visible;
    animation: fade reverse .5s, up .5s;
}

.username-section {
    position: relative;
    z-index: 2;
    height: 40px;
    padding: 0 10px;
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
    display: inline-block;
    color: #ff0000;
}

.badge {
    height: 20px;
    width: 20px;
    image-rendering: pixelated;
}

.message-section {
    padding: 0 10px 10px;
}

.message-wrapper {
    display: inline-block;
    color: #adadad;
}

.large-emotes .message-section {
    text-align: center;
}

.large-emotes .emote {
    height: 112px;
}

.medium-emotes .emote {
    height: 3.5rem;
    max-height: 112px;
}

.small-emotes .emote {
    height: 1.75rem;
    max-height: 112px;
}

.complex-emote {
    display: inline-block;
    position: relative;
}

.emote.zero-width {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent !important;
}

.raid-message {
    background: #888888;
    font-size: 72px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

.sub-message {
    background: #888888;
    font-size: 72px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

.follower-message {
    background: #888888;
    font-size: 72px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}
