@font-face {
    font-family: DOOM;
    src: url(https://swolekat.github.io/se-doom-chat/assets/fonts/DooM%20Regular.ttf);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: DOOM, Arial, sans-serif;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    overflow: visible;
    padding: 0;
    flex-direction: column;
    height: 100%;
    position: relative;
    justify-content: end;
    width: 100%;
}

.status-bar {
    width: 100%;
}

.counter {
    position: absolute;
    text-align: right;
    color: rgba(255, 0, 0, 0.75);
    font-size: 120px;
    -webkit-text-stroke: 8px rgba(150, 0, 0, 0.75);
    paint-order: stroke fill;
}

.follower-counter {
    bottom: 120px;
    right: 1766px;
}

.sub-counter {
    bottom: 120px;
    right: 2226px;
}

.console {
    bottom: 140px;
    right: 700px;
    font-size: 90px;
}